.modal-dialog.modal-dialog-full {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 20px;
  .modal-content {
    height: 100%;
    min-height: 870px;
    app-kube-config-modal {
      display: flex;
      flex-direction: column;
      height: 100%;
      .modal-custom-body {
        flex: 1;
        width: 100%;
        .modal-body {
          height: 100%;
        }
      }
    }
  }
}
